body {
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.media-body{
     cursor: pointer ;
}
#list{
    width: 50%;
    float: left;
    padding-left: 5%;
}
my-name{
    text-decoration: double;
    font-size: large;
    font-style: inherit;
    color: greenyellow;

}
my-address,my-location{
    font-size: medium;
}
#open{
    color: greenyellow;
    font-size: medium;
}
#close{
    color: yellow;
    font-size: medium;

    }
#map, #map-canvas {
    height: 700px;
    width: 50%;
    float: right;
    padding-right: 15%;
    padding-left: 5%;
    background-color: grey;
}
#page{
    float: none;
    padding-right: 5%;
}
a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
#forks{

  height: 3%;
  width: 3%;

}
h1{
    color:pink;
    text-align: center;
}

.navbar {
    border-radius: 0px;
}

.navbar-brand {
    color: red;
    font-size: 3.2em;
    font-weight: bold;
    font-family: "Agency FB";
}

.brandcolor {
    color: red;
}

.container {
    color: white;
}
@media(max-width:480px){
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.col-md-2 {
    transform: translate3d(0px, 0px, 10px);
}

.col-md-2:hover {
    transform: scale(1.16);
    transition: transform 0.7s;

}

@media(max-width:480px){
    .col-md-2 {
        transform: translate3d(0px, 0px, 0px);
    }

    .col-md-2:hover{
        transform: scale(1);
        transition: transform 0s;
    }
}

@media (max-width: 767px) {

    .col-md-2 {
        transform: translate3d(0px, 0px, 0px);
    }

    .col-md-2:hover{
        transform: scale(1);
        transition: transform 0s;
    }
}


.footer {
    margin-top: 25px;
}

.top {
    margin-top: 50px;
}

a:hover {
    text-decoration: none;
}


.right {
    float: right;
    margin-bottom: 25px;
}

.star{
    display: inline;
    unicode-bidi: bidi-override;
    direction: rtl;
    float: left;
}

.star input[type=radio]{
    display: none;
}

.star label{
    direction: ltr;
}

.star label:before{
    content:'\2605';
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.star label:hover:before,
.star label:hover ~ label:before,
.star input:checked ~ label:before{
    color: yellow;
}

.thumbnail{
    padding: 2px;
}


.col-md-offset-4{
    padding: 15px;
    background-color: #f3f3f3;
    color: #0f0f0f;
    border-radius: 4px;
}

img.media-object{
    width:125px;
    height: 125px;
}

.bottom{
    margin-bottom: 60px;
}

.black{
    color: #0f0f0f;
}

.media{
    background-color: /*#a6e1ec*/#CF4646;
    padding: 10px;
    /*color: green;*/
    border-radius: 5px;
}

#restaurant.row{
    margin-top:15px;
}


.modal-content
{
    text-decoration:coral;
    background-color: dimgrey;
}